hjbody{
  background-color: ghostwhite;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box{
  background-color: deeppink;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 2px;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.box:nth-child(even){
  background-color: cyan;
  color: black;
  font-style: italic;
}
img{
  height: 220px;
  width: 220px;
  border-radius: 50%;
}
